body, html {
    height: 100vh;
}

.orange-bg {
    background: #fe7a46;
}

.orange-bg-light {
    background: #ff8f62;
}

.orange-text {
    color: #fe7a46;
}

.bg {
    background-image: url("/images/background-lg.png");
    background-size: 100% 66%;
    background-repeat: no-repeat; 
    background-position: bottom;
}

@media(min-width: 479px) {
    .h-85-ns {
        height: 85%;
    }
}

.bite:nth-child(2n) {
    background: #e9e9e9;
}

.hover-orange:hover {
    color: #fe7a46;
}

.hover-orange:focus {
    color: #fe7a46;
}

.hover-bg-orange:hover {
    background-color: #fe7a46;
}

.hover-bg-orange:focus {
    background-color: #fe7a46;
}